.container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;

  &--debug {
    border: 1px dashed #DB3A34;
  }

  &-inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    &--left > div:first-child:before {
      right: 0;
    }

    &--right > div:first-child:before {
      left: 0;
    }

    &--indicator > div:first-child:before {
      background-color: #FFC857;
    }

    > div:first-child {
      flex: auto;
      // touch-action: pan-y !important;

      &:before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
  }
}
